*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: shery1;
}
html, body{
    height: 100%;
    width: 100%;
}
.container{
    min-height: 100vh;
    width: 100%;
    padding: 20px;
}
.nav{
    height: 100px;
    width: 100%;
    
    border-bottom: 1px solid #dadada;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-part1{
    display: flex;
    
    gap: 10px;
    align-items: center;
}
.nav-part1 h6{
    height: 30px;
    width: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: rgb(100, 96, 96);
    background-color: rgb(232, 223, 205);
}
.nav-part2{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right: 50px;
}
.nav-part2 button{
    height: 40px;
    width: 120px;
    border-radius: 20px;
   background-color: transparent;
    border: 0.5px solid rgb(95, 94, 94);
     transition: all 0.3s ease;
}
.nav-part2 button:hover{
    background-color: black;
    color: white;
}
@font-face {
    font-family: shery1;
    src: url(./font1.woff2);
}
.content{
    margin-top: 13%;
    padding-left: 40px;
}
.content h1{
    font-size: 75px;
    font-weight: 300;
    line-height: 80px;
}
.content p{
    font-size: 20px;
    line-height: 35px;
    color: rgb(71, 65, 65);
}
.content button{
    height: 45px;
    width: 135px;
    color: white;
    background-color: black;
    border-radius: 25px;
    border: 1px solid black;
    margin-top: 25px;
   transition: all 0.3s ease;
}
.content button:hover{
    color: black;
    background-color: transparent;
}

                     /*    *************************container 2(page 2)**************************    */

.container2{
    min-height: 100vh;
    width: 100%;
    padding: 60px;
    display: flex;  
    justify-content: space-between;
    border-bottom: 2px solid #dadada;
    padding-top: 130px;
    position: relative;

}
#card1{
    height: 350px;
    width: 250px;
   
    padding: 35px;
    background-color: #f0eeee;
}
#card1 h4{
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 15px;
}
#card1 p{
    color: rgb(97, 93, 93);
    /* font-size: 10px; */
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 25px;
}
#card1 h6{
    color: black;
    text-decoration: underline;
    font-size: 12px;
    text-underline-offset: 5px;
   
}
#card2{
    height: 350px;
    width: 250px;

    padding: 35px;
    background-color: #f0eeee;
    
}

#card2 h4{
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 15px;
}
#card2 p{
    color: rgb(97, 93, 93);
    /* font-size: 10px; */
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 25px;
}
#card2 h6{
    color: black;
    text-decoration: underline;
    font-size: 12px;
    text-underline-offset: 5px;
   
}
#card3{
    height: 350px;
    width: 250px;
   
    padding: 35px;
    background-color: #f0eeee;
}
#card3 h4{
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 15px;
}
#card3 p{
    color: rgb(97, 93, 93);
    /* font-size: 10px; */
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 25px;
}
#card3 h6{
    color: black;
    text-decoration: underline;
    font-size: 12px;
    text-underline-offset: 5px;
   
}
#card4{
    height: 350px;
    width: 250px;
    /* background-color: rgb(220, 211, 211); */
    padding: 35px;
    background-color: #f0eeee;
}
#card4 h4{
    font-size: 25px;    
    font-weight: 300;
    margin-bottom: 15px;
}
#card4 p{
   
    color: rgb(97, 93, 93);
    /* font-size: 10px; */
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 25px;
}
#card4 h6{
    color: black;
    text-decoration: underline;
    font-size: 12px;
    text-underline-offset: 5px;
   
}
.container2 h5{
    position: absolute;
    top: 93%;
    left: 60px ;
    font-weight: 300;
}

                             /*    *************************container 3(page 3)**************************    */

.container3{
    min-height: 100vh;
    width: 100%;
   
    padding: 60px;
    padding-bottom: 0;
    /* margin-bottom: 20px; */
}
#selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
#selected h1{
    font-weight: 300;
    font-size: 45px;
}
#selected  button{
    padding: 10px 24px;
    border-radius: 20px;
    border: #000000 0.5px solid;
    background-color: transparent;
    transition: all 0.3s ease;
}
#selected  button:hover{
    background-color: black;
    color: white;
}
.imgdiv1{
    width: 100%;
    height: 350px;
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}
.imgdiv1 #img1{
    height: 350px;
    width: 48%;
    background-image: url(./img1.webp);
    background-size: cover;
}
.imgdiv1 #img2{
    height: 350px;
    width: 48%;
    background-color: beige;
    background-image: url(./img2.webp);
    background-size: cover;
}
#contentline1{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;    
   
    
}
#contentline1 h3{
    font-weight: 300;
}
#contentline1 button{
    padding: 5px 8px;
    border-radius: 20px;
    border: #000000 0.5px solid;
    background-color: transparent;
    margin-right: 3px;
    font-size: 10px;
    transition: all 0.3s ease;

}
#contentline1 #part1{
    width: 48%;
    height: 100%;   
  
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#contentline1 #part2{
    width: 48%;
    height: 100%;   

    display: flex;
    justify-content: space-between;
    align-items: center;
}

                        /*    *************************container 4(page 4)**************************    */

.container4{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 0px 60px;
    margin-top: 0;
    border-bottom: 2px solid #dadada;
    padding-top: 0px;
}
.imgdiv2{
    width: 100%;
    height: 350px;
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}
.imgdiv2 #img3{
    height: 350px;
    width: 48%;
    background-image: url(./img3.webp);
    background-size: cover;
}

.imgdiv2 #img4{
    height: 350px;
    width: 48%;
    background-color: beige;
    background-image: url(./img4.webp);
    background-size: cover;
}
#contentline2{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
#contentline2 h3{
    font-weight: 300;
}
#contentline2 button{
    padding: 5px 8px;
    border-radius: 20px;
    border: #000000 0.5px solid;
    background-color: transparent;
    margin-right: 3px;
    font-size: 10px;
    transition: all 0.3s ease;
    
}
#contentline2 button:hover{
    background-color: black;
    color: white;
}
#contentline1 button:hover{
    background-color: black;
    color: white;
}
#contentline2 #part1{
    width: 48%;
    height: 100%;   
  
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#contentline2 #part2{
    width: 48%;
    height: 100%;   

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container4 h5{
    position: absolute;
    top: 95%;
    left: 60px ;
    font-weight: 300;
}

                         /*    *************************container 5(page 5)**************************    */

.container5{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 60px;
    margin-top: 0;
    /* background-color: lightpink ; */
    /* border-bottom: 2px solid #dadada; */
    overflow: visible;
}
#container51{
    width: 100%;
    height: 350px;   
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    /* background-color: slategrey; */
    margin-bottom: 50px;
}
#card51{
    height: 100%;
    width: 30%;
    background-color: #ecf1f7;
    padding: 40px;
}
#card51 h6{
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1px;
    padding-bottom: 10px;
}
#card51 h4{
    font-weight: 300;
    font-size: 23px;
    padding-bottom: 130px;
}
#card51 button{
    padding: 17px 40px;
    color: white;
    background-color: black;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 15px;
}
#card52{
    height: 100%;
    width: 30%;
    background-color: #f3fef6;
    padding: 35px;

}
#card52 h6{
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1px;
    /* padding-bottom: 10px; */
    padding-bottom: 70%;
}
#card52 h4{
    font-weight: 300;
    font-size: 23px;
   
}
#card53{
    height: 100%;
    width: 30%;
    background-color: #f5efef;
    padding: 35px;

}
#card53 h4{
    font-weight: 300;
    font-size: 23px;
    padding-bottom: 130px;
}
#card53 h6{
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1px;
    padding-bottom: 10px;
    padding-bottom: 70%;
   
}
/*  ***************************************************************************************************   */

#container52{
    width: 100%;
    height: 350px;   
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
   
}
#card54{
    height: 100%;
    width: 30%;
    background-color: #e8e2e2;
    padding: 40px;
}
#card54 h6{
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1px;
    padding-bottom: 70%;
}
#card54 h4{
    font-weight: 300;
    font-size: 23px;
    padding-bottom: 130px;
}
#card55{
    height: 100%;
    width: 30%;
    background-color: #f2ebdc;
    padding: 35px;

}
#card55 h6{
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1px;
    /* padding-bottom: 10px; */
    padding-bottom: 70%;
}
#card55 h4{
    font-weight: 300;
    font-size: 23px;
   
}
#card56{
    height: 100%;
    width: 30%;
    background-color: #f8f1d6;
    padding: 35px;

}
#card56 h4{
    font-weight: 300;
    font-size: 23px;
    padding-bottom: 130px;
}
#card56 h6{
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1px;
    padding-bottom: 10px;
    padding-bottom: 70%;
   
}
/*  *********************************************** container 6 *********************************************************   */
    .container6{
        min-height: 100vh;
        width: 100%;
        position: relative;
        /* margin: 60px;
        margin-top: 0;
        padding-top: 0px; */
      
        padding: 60px;
        padding-top: 80px;
       
    }
    .container6 #texts{
        height: 500px;
        width: 100%;

        padding-left: 37%;
    
    }
    #texts h1{
        font-weight: 250;
        font-size: 45px;
        margin-bottom: 40px;
    }
    #para{
        height: auto;
        width: 100%;
        display: flex;
        /* gap: 100px;
        */
        justify-content: space-between;
    }
    #para p{
        font-size: 14px;
        line-height: 1.8;
        color: rgb(76, 76, 76);
    }
    #p2{
        padding-right: 43px;
    }